Firmware/Debug/COM.txt
Firmware/Build/
Firmware/.vscode/BROWSE.VC.DB-shm
Firmware/.vscode/BROWSE.VC.DB
Firmware/.vscode/BROWSE.VC.DB-wal
Firmware/.vscode/dryrun.log
Firmware/.vscode/targets.log
Firmware/.vscode/logging_output.log
Firmware/Debug/Scripts/_pycache_/
Firmware/Debug/logging_output.log
Firmware/Debug/htnb32l.ini
Firmware/Debug/cfg.digest
Firmware/.vscode/configurationCache.log
Firmware/Debug/Scripts/__pycache__/COM_GUI.cpython-39.pyc